@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #d2dae2;
  scroll-behavior: smooth;
}

body {
  background-color: #1e272e;
}

nav {
  position: fixed;
  z-index: 9;
  min-height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #1e272e;
}

nav img {
  width: 60px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  gap: 10px;
}

nav ul li a {
  color: #d2dae2;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#home h1 {
  margin-bottom: 20px;
  font-size: 4em;
}

p.content-description {
  font-size: 1em;
  max-width: 900px;
  letter-spacing: 1.5px;
  color: rgb(137, 157, 178);
  font-weight: 300;
  line-height: 1.5em;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.btn-global-1 {
  font-size: 1.1em;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #f7f1e3;
  color: #f7f1e3;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.btn-global-1:hover {
  background-color: #f7f1e3;
  color: #1e272e;
}

.icon-size {
  height: 20px;
  width: 20px;
  color: #f7f1e3;
}

#about {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-list span {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #f7f1e3;
  color: #f7f1e3;
  font-size: 0.8em;
}

.tech-list-2 span {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #f7f1e3;
  color: #f7f1e3;
  font-size: 0.8em;
}

table tr {
  height: 40px;
}

table td {
  min-width: 130px !important;
}

.image-profile {
  width: 300px;
  height: 300px;
  border: 2px solid #f7f1e3;
  border-radius: 20px 0 20px 0;
}

.image-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 20px 0;
}

#experience {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#experience .experience-wrapper {
  display: flex;
}

#experience .experience-wrapper .experience-navigation {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#experience .experience-wrapper .experience-navigation span {
  cursor: pointer;
  color: rgb(137, 157, 178);
  padding: 10px 20px;
  border-left: 2px solid transparent;
}

.exp-active {
  color: #f7f1e3 !important;
  border-left: 2px solid #f7f1e3 !important;
}

#experience-content .experience {
  display: none;
}

.show-experience {
  display: block !important;
}

#experience-content .experience ul li {
  color: rgb(137, 157, 178);
  line-height: 30px;
}

#work {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#work .work-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#work .image-wrapper {
  width: 48%;
}

#work .work-description {
  width: 48%;
}

#work .work-description p {
  padding: 20px;
  border-radius: 10px;
  background-color: #222e36;
}

#work .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#contact a {
  color: #222e36;
  text-decoration: none;
  font-size: 1em;
  background-color: #f7f1e3;
  padding: 8px 20px;
  border-radius: 5px;
}

#contact textarea {
  color: #1e272e;
  padding: 10px;
  border-radius: 2px;
}

footer {
  min-height: 12vh;
}

footer .social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

footer p {
  text-align: center;
  color: rgb(137, 157, 178);
  font-weight: 300;
}

/* night animation */
.show-night-animal {
  display: block !important;
}

#night-animal-2 {
  display: none;
  position: absolute;
  right: 25%;
  top: 73%;
}

#night-animal {
  display: none;
  position: absolute;
  top: 30%;
}

.loader {
  height: 50px;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.dot-two {
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 15px;
  color: white;
  font-size: 36px;
}

.dot-one,
.dot-three {
  background-color: #fff;
  height: 80px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  animation: flap-wings 1s infinite ease-in-out;
}

.dot-two {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  animation: flap-wings 1s infinite ease-in-out;
  animation-delay: 0.1s;
  color: #000;
  font-weight: 800;
}

.dot-two::before,
.dot-two::after {
  content: "";
  position: absolute !important;
  background-color: #fff;
}

.dot-two::before {
  height: 60px;
  width: 30px;
  bottom: 40px;
  left: 1px;
  border-radius: 50% 50% 0 0;
  transform: rotate(-20deg);
}

.dot-two::after {
  height: 60px;
  width: 30px;
  bottom: 40px;
  left: 39px;
  transform: rotate(26deg);
  border-radius: 50% 50% 0 0;
}

.dot-one::before,
.dot-one::after,
.dot-three::before,
.dot-three::after {
  content: "";
  position: absolute;
  background-color: #000;
}

.dot-one::before,
.dot-three::before {
  height: 60px;
  width: 40px;
  top: 25px;
  left: 0;
  background-color: #1e272e;
  /*chnage this if u need dark mode to #212121 if need light mode #e8e8e8*/
  border-radius: 50% 50% 0 0;
}

#night-animal-2 .dot-two {
  background-color: #000;
  color: #fff;
}
#night-animal-2 .dot-two::before,
#night-animal-2 .dot-two::after {
  background-color: #000;
}
#night-animal-2 .dot-one,
#night-animal-2 .dot-three {
  background-color: #000;
}

@keyframes flap-wings {
  0%,
  100% {
    transform: translateY(0);
    color: #000;
  }

  50% {
    transform: translateY(-20px);
    color: #fff;
  }
}

/* Media Query */
@media only screen and (max-width: 560px) {
  nav div:nth-child(2) {
    display: none;
  }

  .container {
    padding: 0 20px;
  }

  #home h1 {
    font-size: 1.5em;
  }

  #home p {
    font-size: 0.8em;
    text-align: justify;
  }

  #home .btn-global-1 {
    font-size: 0.8em;
  }

  #about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #about p {
    font-size: 0.8em;
  }

  #about .image-profile {
    display: none;
  }

  #experience .experience-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #experience .experience-wrapper .experience-navigation {
    margin-bottom: 30px;
  }

  #work {
    margin-top: 50px;
  }

  #work .work-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #work .image-wrapper {
    width: 100%;
  }

  #work .work-description {
    width: 100%;
  }

  #about {
    min-height: auto !important;
  }

  #experience {
    margin-top: 100px;
  }

  #contact {
    min-height: auto !important;
    margin-bottom: 100px;
  }

  #night-animal-2 {
    position: absolute;
    right: -50px;
    top: 80%;
  }

  #night-animal {
    position: absolute;
    top: 90%;
    left: -100px;
  }
}
